.footer-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  opacity: 0.85;
  padding: 0px 10px;
}

.link-img {
  height: 48px;
  width: 48px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-copyright {
  display: flex;
  align-items: center;
  color: white;
}

@media(max-width: 650px) {
  .footer-container {
    height: 64px;
    padding: 0px 16px;
  }

  .link-img {
    height: 24px;
    width: 24px;
  }

  .footer-links a {
    padding: 0px 2px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}
